body {
  padding: 1em;
}

.tags {
  display: flex;
  flex-wrap: wrap;

}
.tag {
  min-width: 200px;
  border: 1px solid black;
  margin: 1em;
  padding: 0;
  border-radius: 20px;
  text-align: center;
}
.name {
  text-align: center;
  font-size: 4em;
  padding: 0 0.5em;
}
.greeting {
  background-color: blue;
  color: white;
  padding: 0.5em;
  border-radius: 20px 20px 0 0;
}